<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Required to request location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Terra"
        tools:targetApi="31" >
        <activity
            android:name=".users.government.AuthoritySearchScreen"
            android:exported="false" />
        <activity
            android:name=".users.government.AuthorityLoginScreen"
            android:exported="false" />
        <activity
            android:name=".users.citizen.UserLoginScreen"
            android:exported="false" />
        <activity
            android:name=".users.citizen.AddFriendScreen"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".users.shared.SearchScreen"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".users.citizen.ProfileScreen"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".users.citizen.ContactScreen"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".users.citizen.HomeScreen"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".users.government.HomeScreenGov"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".users.government.UpdatePostScreen"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".users.citizen.MainActivity"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".users.shared.SplashScreen"
            android:exported="true"
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".users.citizen.NewPostActivity"
            android:label="New Post"
            android:parentActivityName=".users.citizen.MainActivity"
            android:screenOrientation="sensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".users.citizen.MainActivity" />
        </activity>
        <activity
            android:name=".users.citizen.PostThreadActivity"
            android:label="Thread"
            android:parentActivityName=".users.citizen.MainActivity"
            android:screenOrientation="sensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".users.citizen.MainActivity" />
        </activity>
        <activity
            android:name=".users.government.PostThreadActivityGov"
            android:label="Thread"
            android:parentActivityName=".users.citizen.MainActivity"
            android:screenOrientation="sensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".users.citizen.MainActivity" />
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>